@model TodoWeb.Models.Todo

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/todo/create" method="POST">

    <label>Id</label>
    <input type="text" name="Id" value="@Model.Id">
    <br/>

    <label>Title</label>
    <input type="text" name="Title" value="@Model.Title">
    <br/>

    <button>Salvar</button>

  </form>
</body>
</html>