<!-- Diretiva -->
@using TodoWeb.Models 

@* return View(lista); Vem do controller *@
@model List<Todo> 

<!-- comentário -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <span>@Model.Count</span>

  <table>

    @foreach(var todo in Model)
    {
      <tr>
        <td>@todo.Id</td>
        <td>@todo.Title</td>
        <td>@todo.Done</td>
      </tr>
    }

  </table>

  <a href="/todo/create">Adicionar Tarefa</a>

</body>
</html>