@model List<Todo> 

  @* <span>@Model.Count</span> *@

  <table class="table table-hover">

    @foreach(var todo in Model)
    {
      <tr>
        <td>@todo.Id</td>
        <td>@todo.Title</td>
        <td>@todo.Done</td>
        <td>
          <a href="/todo/delete/@todo.Id" class="btn btn-sm btn-danger">Apagar</a>
          <a href="/todo/update/@todo.Id" class="btn btn-sm btn-success">Editar</a>
        </td>
      </tr>
    }

  </table>

  <a href="/todo/create" class="btn btn-primary">Adicionar Tarefa</a>

